:root {
    --bg-color: #ffffff;
    --section-bg: #F4F4F4;
    --card-bg: #ffffff;
    --text-color: #0f0f0f;
    --secondary-text: #828282;
    --accent-color: #00B9BE;
    --border-color: #E0E0E0;
    --tab-bg: #F2F2F2;
    --font-main: 16px;
}

body.dark-theme {
    --bg-color: #121212;
    --section-bg: #1e1e1e;
    --card-bg: #252525;
    --text-color: #ffffff;
    --secondary-text: #b0b0b0;
    --border-color: #333333;
    --tab-bg: #2d2d2d;
}

body.visually-impaired {
    --font-main: 24px;
    --bg-color: #000000;
    --text-color: #ffff00;
    --secondary-text: #ffff00;
    --border-color: #ffffff;
    --accent-color: #ffff00;
}

body.visually-impaired img {
    display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-main);
    transition: background 0.3s, color 0.3s;
}